<h1>Listing invoices</h1>

<table>
  <tr>
    <th>Invdate</th>
    <th>Amount</th>
    <th>Tax</th>
    <th>Total</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invoices.each do |invoice| %>
  <tr>
    <td><%= invoice.invdate %></td>
    <td><%= invoice.amount %></td>
    <td><%= invoice.tax %></td>
    <td><%= invoice.total %></td>
    <td><%= invoice.note %></td>
    <td><%= link_to 'Show', invoice %></td>
    <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
    <td><%= link_to 'Destroy', invoice, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Invoice', new_invoice_path %>
<table id="list"></table> 
<div id="pager"></div>
